.proj-tl-item {
    
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 700px;
        
    .proj-tl-sep {
        
        margin: 0;
        padding: 0;
        
        .proj-tl-con {
            
            margin: 0px;
            padding: 0px;
            position: absolute;
            
        }
            
        .proj-tl-dot {
            
            margin: 0;
            padding: 0;
                
            .proj-timeline-icon {
                
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2em;
                height: 2em;
                
                .proj-svg-image {
                    
                    width: 1.8em;
                    height: auto;
                    background-size: contain;
                    
                }
                
            }
            
        }
        
    }
    
    
    .proj-tl-cont {
        
        margin: 0;
        padding: 0;
        margin-left: 3%;
        
        .proj-title {
            
            font-weight: 600;
            
        }
        
        ul {
            
            padding: 0;
            padding-left: 1em;
            font-size: 0.9rem;
            list-style: disc;
            margin-bottom: 0;
            
        }
        
        .proj-last {
            
            padding-bottom: 10px;
            
        }
        
        h4 {
            
            padding-bottom: 0;
            margin-bottom: 10px;
            
        }
    }
    
}
