.education {
    margin-top: 25px;
}

.edu-tl-item {

    margin: 0;
    padding: 0;
    position: relative;
    
    /* display; */
    /* justify-content: start; */
    max-width: 700px;
    
    .edu-tl-sep {
        margin: 0;
        padding: 0;

        .edu-tl-con {
            margin: 0px;
            padding: 0px;
            position: absolute;
            
        }
        
        .edu-tl-dot {
            
            margin: 0;
            padding: 0;
            
            .edu-timeline-icon {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                // width: 55px;
                // height: 55px;
                width: 2em;
                height: 2em;
                
                .edu-svg-image {
                    /* transform: scale(0.5); */
                    // width: 55px;
                    // height: auto;
                    width: 1.8em;
                    height: auto;
                    background-size: contain;
                }
                .edu-svg-image-rma {
                    /* transform: scale(0.5); */
                    width: 1.5em;
                    // width: 42px;
                    height: auto;
                    background-size: contain;
                }
            }

        }
    }

    
    .edu-tl-cont {
        margin: 0;
        padding: 0;
        margin-left: 3%;

        .edu-title {
            font-weight: 600;
        }

        ul {
            padding: 0;
            padding-left: 1em;
            font-size: 0.9rem;
            list-style: disc;
        }

        .edu-last {
            padding-bottom: 10px;
        }

        h4 {
            padding-bottom: 0;
            margin-bottom: 10px;
        }
    }


}
