.projects {

    .projects-title {
        font-weight: 700;
        margin-bottom: 20px;
    }

    .projects-subtitle {
        font-size: 1.05em;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        
    }

}