.experience {
    margin-top: 25px;

    ul {
        margin-bottom: 0;
    }
}

.exp-tl-item {

    margin: 0;
    padding: 0;
    position: relative;
    max-width: 700px;
    
    .exp-tl-sep {

        margin: 0;
        padding: 0;
        
        .exp-tl-con {

            margin: 0px;
            padding: 0px;
            position: absolute;

        }
        
        .exp-tl-dot {
            
            margin: 0;
            padding: 0;
            
            .exp-timeline-icon {

                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 2em;
                height: 2em;
                
                .exp-svg-image {

                    width: 1.8em;
                    height: auto;
                    background-size: contain;

                }
                .exp-svg-image-rma {

                    width: 1.5em;
                    height: auto;
                    background-size: contain;

                }

            }

        }

    }

    
    .exp-tl-cont {

        margin: 0;
        padding: 0;
        margin-left: 3%;

        .exp-title {

            font-weight: 501;

        }

        ul {

            padding: 0;
            padding-left: 1em;
            font-size: 0.9rem;
            list-style: disc;

        }

        .exp-last {

            padding-bottom: 10px;

        }

        h4 {

            padding-bottom: 0;
            margin-bottom: 10px;

        }

    }

}
